
.top-bar {
    background-color: #165a89;
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 0 0 1em;
    line-height: 2.2em;
}

.top-bar .menu {
    background-color: #165a89;

}

.top-bar .menu li {
    padding: 0em 0.5em;
    height: 2.2em;
}

.top-bar .menu li a {
    color: white;
}

.top-bar .menu li.active {
    background-color: #178ac8;

}

.top-bar-right div {
    display: inline-block;
    padding: 0 0.5em;
}

.votes {
    float: left;
    vertical-align: middle;
    width: 4em;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 1em 0 0.3em 0;
}

.title {
    margin-left: 4em;
}

.title a {
    display: block;
    padding: 1em 0 0.3em 0;
}

.post {
    overflow: auto;
    zoom: 1;
    border-bottom: 1px solid #ccc;
}

.post .info {
    padding: 0 0 0.3em 0em;
}

.post .info div {
    display: inline-block;
}

.post .info .source {
    width: 4em;
    text-align: center;
}

.post .info .comments {
    margin: 0 1em;
    font-weight: bold;
}

.comments a {
    color: tomato;
}

.source.reddit .pill {
    font-size: 0.8em;
    background-color: green;
    border-radius: 0.3em;
    padding: 0.1em 0.3em;
    margin: auto;
    color: white;
    display: inline;
}

/* Mobile media query */

@media only screen and (max-device-width: 800px) {
    html {
        font-size: 40px;
    }

    .top-bar {
        font-size: 1.5em;
    }

}
