<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/foundation.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <!--<script src="https://fb.me/react-0.14.2.js"></script>-->
    <!--<script src="https://fb.me/react-dom-0.14.2.js"></script>-->
    <!--<script src="https://fb.me/react-dom-0.14.2.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>-->
    <!-- jquery is optional for AJAX -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->


</head>
<body>
<div class="top-bar">
    <div class="top-bar-left">
        <div>pnews</div>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>top:</li>
            <li class="active">day</li>
        </ul>
    </div>
</div>
{{{body}}}

</body>

</html>
